.product {
    @include flex-column;
    justify-content: center;
    align-items: center;
    text-align: center;
            &-heading {
                text-align: center;
                font-weight: bold;
                font-size: 56px;
                line-height: 65px;
                letter-spacing: 0.2px;
                color: #20262A;
                padding: 72px 0 27px 0;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
        &-descr {
            font-weight: 550;
            font-size: 19px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #5C5C5C;
            padding-bottom: 62px;
            @media (max-width: 992px) {
                width: 80%;
            }
        }
        .progress {
            width: 80%;
                &-bar.w-75 {
                    background: #00B6F0;
                    border-radius: 9.5px;
            }
        }
        &-button button {
            width: 266px;
            height: 52px;
            background: #00B6F0;
            border-radius: 85px;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            margin: 71px 0 62px 0;
            
        }
}