.testimonials {
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/TestimonialsSpot.png);
    background-size: 100%;
    background-position-y: -150px;
    background-repeat: no-repeat;
    margin: 0 auto;
        &-heading {
            font-weight: 450;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #20262A;
            padding-top: 169px;
            @media (max-width: 992px) {
                padding-top: 111px;
                width: 70%;
        }
        }
        &-logo {
            padding: 79px 0 79px 0;
        @media (max-width: 992px) {
            padding: 85px 0 85px 0;
        }
        }
        &-descr {
            // width: 30%;
            font-weight: 450;
            font-size: 19px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #5C5C5C;
            @media (max-width: 992px) {
                width: 70%;
            }
        }
        &-contacts {
            @include flex-row;
            padding: 61px 0 51px 0;
            &__info {
                @include flex-column;
            }
            &__info span-Webb {
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #20262A;
                margin-left: 23px;
            }
            &__info span-Des {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.1px;
                color: #5C5C5C;
                margin-left: 23px;
            }
        }
        &-button button {
            width: 255px;
            height: 52px;
            left: 513.5px;
            top: 679px;
            background: #00B6F0;
            border-radius: 85px;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            margin-bottom: 108px;
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        }
}