.calendars.container 
    .calendars-input Just type
    .calendars-heading Fastest way to navigate
    .calendars-descr Most calendars are designed for teams. Slate is designed for freelancers.
    .calendars-button
        .calendars-button__Download
            button.Download Download
        .calendars-button__Walkthrough
            button.Walkthrough See Walkthrough