.capabilities.container 
    .capabilities-info
        .capabilities-info__heading OpenType features
        .capabilities-info__descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        .capabilities-info__link 
            a(href=" ") LEARN MORE
    .capabilities-image 
        img(src="../img/Сapabilities.png", alt="Capabilities")