.footer.container
    .footer-logo
        .footer-logo__image
            img(src="../img/logo-figma.png", alt="image")
        .footer-logo__info Just type what's on your mind
    .footer-points
        .footer-points__point Home
        .footer-points__point Product 
        .footer-points__point About
        .footer-points__point Contact
    .footer-socialmedia 
        img(src="../img/Twitter.png", alt="Twitter")
        img(src="../img/Facebook.png", alt="Facebook")
        img(src="../img/Linkedin.png", alt="Linkedin")