nav.navbar.container
    .navbar-logo
        img(src="../img/logo-figma.png", alt="image")
    .navbar-points
        .navbar-points__point Home
        .navbar-points__point Product 
        .navbar-points__point About
        .navbar-points__point Contact
    .navbar-login 
        <button type="button" class="btn btn-outline-primary">Login</button>
    .navbar-mobile 
        img(src="../img/NavbarMobile.png", alt="NavbarMobile")
