.ourfocus.container
    .ourfocus-direction We focus on ergonomic meeting
    .ourfocus-info 
        .ourfocus-info__info 
            span.first Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business building...<br><br> 
            span.second Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business building...
        .ourfocus-info__button 
            button.Start Get Started
