.pricing.container 
    .pricing-description
        .pricing-description__heading Pricing
        .pricing-description__descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    .pricing-info
        span 30-DAY FREE TRIAL
        .pricing-info__price 
            span.Price $5
            span.User /month per user
        span.Calendars Calendars Most calendars are designed for teams.
        .pricing-info__botton
            button.Start Get Started
