.product.container
    .product-heading A rethink of how we work
    .product-descr Being a freelancer is a rollercoaster of emotions. We built Slate to keep your
    .progress
          .progress-bar.w-75(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
    .product-button
        button.Start Get Started For Free
