.testimonials
    .testimonials-heading Testimonials
    .testimonials-logo
        img(src="../img/TestimonialsLogo.png", alt="Testimonials")
    .testimonials-descr Being a freelancer is a rollercoaster of emotions.<br> We built Slate to keep your freelance business less stressful.<br> We'd love to show you what we're building...
    .testimonials-contacts 
        .testimonials-contacts__avatar 
            img(src="../img/TestimonialsAvatar.png", alt="Testimonials")
        .testimonials-contacts__info
            span-Webb Esther Webb
            span-Des Designer
    .testimonials-button 
        button.testimonials All Testimonials