.variability
    .variability-image 
        img(src="../img/Variability.png", alt="variability")
    .variability-info
        .variability-info__heading Variable fonts
        .variability-info__descr Most calendars are designed for teams. Slate is designed for freelancers
        .variability-info__link 
            a(href=" ") LEARN MORE